* text=auto eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
Makefile text eol=lf
justfile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.pdf binary
*.apkg binary
*.epub binary
*.ttf binary
*.otf binary
